<app-layout>
    <div class="container">
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    
        <div class="card">
        <div class="icon">
            <img src="assets/ourservice/giftcard.svg" alt="Gift Cards" />
        </div>
        <p class="label">Best Shopping Websites</p>
        </div>
    </div>
</app-layout>