<header>
  <div class="logo">
    <a routerLink="/"><img class="mobilestore" src="/assets/logos/companylogo.png" alt="mobileStore" /></a>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search..." />
    <button>
      <i class="fas fa-search"></i>
    </button>
  </div>


  <div class="header-quick-links">
    <ul>
      <a routerLink="/" class="header-link"><li>Home</li></a>
      <a routerLink="/pages/about" class="header-link"><li>About</li></a>
      <a *ngIf="isLoggedIn" routerLink="/pages/service" class="header-link"><li>Services</li></a>
      <a routerLink="/contact" class="header-link"><li>Contact</li></a>
    </ul>
  </div>

  <!-- Cart Icon with Quantity -->
  <div class="cart-icon-container" *ngIf="totalCartQuantity > 0" (click)="cartQuantity()">
    <i class="fas fa-shopping-cart"></i>
    <span class="cart-quantity">{{ totalCartQuantity }}</span>
  </div>
  <div class="dropdown">
    <div class="user-icon" (click)="toggleMenu()">
      <i class="fas fa-user"></i>
    </div>

    <!-- Dropdown Menu -->
    <div class="dropdown-menu" *ngIf="isMenuOpen">
      <ng-container *ngIf="!isLoggedIn">
        <a routerLink="/auth/signup">
          <i class="fas fa-user-plus"></i> Sign Up
        </a>
        <a routerLink="/auth/login">
          <i class="fas fa-sign-in-alt"></i> Login
        </a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <a routerLink="/pages/profile">
          <i class="fas fa-user"></i> Profile
        </a>
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </ng-container>
    </div>
  </div>

  <!-- Hamburger Icon -->
  <div class="hamburger" (click)="toggleHamburger()">
    <i class="fas fa-bars"></i>
  </div>

  <!-- Mobile Menu for Hamburger -->
  <div class="mobile-menu" [ngClass]="{'open': isHamburgerOpen}">
    <ul>
      <a routerLink="/" class="header-link"><li>Home</li></a>
      <a routerLink="/pages/about" class="header-link"><li>About</li></a>
      <a *ngIf="isLoggedIn" routerLink="/pages/service" class="header-link"><li>Services</li></a>
      <a routerLink="/contact" class="header-link"><li>Contact</li></a>
    </ul>
  </div>
</header>
