<app-layout>
    <div class="checkout-container">
        <button class="goBack" (click)="goBackToDashboard()">
            <i class="fas fa-arrow-left"></i>
        </button>
        <h1>Checkout</h1>

        <div class="checkout-content">
            <!-- Shipping Information Section -->

            <!-- Form will only be shown if formSubmitted is false -->
            <div class="shipping-info" *ngIf="!formSubmitted">
                <h2>{{ isEditMode ? 'Edit Shipping Information' : 'Shipping Information' }}</h2>
                <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input type="text" id="name" formControlName="name" name="name" required />
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" formControlName="email" name="email" required />
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" formControlName="phone" name="phone" required />
                    </div>
                    <div class="form-group">
                        <label for="address">Shipping Address:</label>
                        <input type="text" id="address" formControlName="address" name="address" required />
                    </div>
                    <button type="submit" class="place-order-button">{{ isEditMode ? 'Update' : 'Submit' }}</button>
                </form>
            </div>

            <!-- Saved data will be displayed when the form is submitted -->
            <div class="data-shaved-container" *ngIf="formSubmitted">
                <div class="saved-data" >
                    <h2>Saved Shipping Information</h2>
                    <p><strong>Full Name:</strong> {{ savedData?.name }}</p>
                    <p><strong>Email:</strong> {{ savedData?.email }}</p>
                    <p><strong>Phone:</strong> {{ savedData?.phone }}</p>
                    <p><strong>Address:</strong> {{ savedData?.address }}</p>
                </div>

                    <div class="payment-procced address-save">
                        <button class="place-order-button edit" (click)="editData()">Edit</button>
                        <button class="place-order-button" (click)="resetdata()">Remove</button>
                        
                    </div>
            </div>

            <!-- Order Summary Section -->
            <div class="order-summary">
                <h2>Order Summary</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Product</td>
                            <td>Quantity</td>
                            <td>Price</td>
                            <td>Total</td>
                        </tr>
                    </tbody>
                </table>
                <div class="order-total">
                    <p><strong>Subtotal:</strong> </p>
                    <p><strong>Shipping:</strong> </p>
                    <p><strong>Tax (10%):</strong> </p>
                    <h3><strong>Total:</strong> </h3>
                </div>
            </div>
        </div>

        <div class="payment-procced">
            <button class="place-order-button" (click)="onPayment()">Proceed to Payment</button>
        </div>
    </div>
</app-layout>