<div class="signup-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        formControlName="email"
        placeholder="Enter your email"
      />
      <span
        class="err fs-12"
        *ngIf="signupForm.get('email')?.hasError('pattern') && signupForm.get('email')?.touched"
      >
        Email must be appropriate
      </span>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        class="form-control"
        formControlName="password"
        placeholder="Create a password"
      />
      <span
        class="err fs-12"
        *ngIf="signupForm.get('password')?.hasError('pattern') && signupForm.get('password')?.touched"
      >
        Password must be between 5-16 characters comprising of alphanumerics.
      </span>
    </div>

    <div class="form-group">
      <label for="confirm-password">Confirm Password</label>
      <input
        type="password"
        name="confirmpassword"
        class="form-control"
        formControlName="confirmPassword"
        placeholder="Confirm your password"
      />
      <span
        class="err fs-12"
        *ngIf="signupForm.get('confirmPassword')?.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched"
      >
        Passwords do not match.
      </span>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!signupForm.valid"
      (click)="onSubmit()"
    >
      Sign Up
    </button>
  </form>
  <p class="login-text">
    Already have an account?
    <a routerLink="/auth/login" class="login-link">Log in here</a>
  </p>
</div>
