/* Container styling */
.dashboard-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  text-align: center;
 
}

/* Title styling */
.dashboard-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Cards container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Individual card styling */
.cards-container .card {
  width: 250px;
  height: 150px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

/* Hover effect */
.cards-container .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Icon styling */
.cards-container .card-icon {
  font-size: 3rem;
  opacity: 0.8;
}

/* Content styling */
.cards-container .card-content {
  text-align: right;
}

.cards-container .card-title {
  font-size: 1.2rem;
  margin: 0;
  text-transform: capitalize;
}

.cards-container .card-count {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 5px 0 0;
}

h1.ourservice-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


/* Responsive design */
@media (max-width: 768px) {
  .cards-container .card {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  .cards-container .card-content {
    text-align: left;
    margin-top: 10px;
  }
}

/* dashboard.component.css */
.role-selection {
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.roles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.role-card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.role-card:hover {
  transform: scale(1.1);
}

.role-card h3 {
  font-size: 1.2rem;
  margin-top: 10px;
}

.role-icon img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .role-card {
    width: 150px;
    height: 200px;
  }

  .role-icon img {
    width: 80px;
    height: 80px;
  }
}
